.nav {
  line-height: 1;
  font-weight: 900;
  margin-top: -#{get-size('400')};
  margin-inline-start: -#{get-size('400')};

  &__list {
    display: flex;
    flex-wrap: wrap;

    > * {
      padding-top: get-size('400');
      padding-inline-start: get-size('400');
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
    display: block;
    position: relative;
    $bColor: get-color('quinary-shade');
    background: linear-gradient($bColor, $bColor) left bottom no-repeat;

    &:not([data-state], [aria-current]) {
      background-size: 0% 4px;
      transition: background-size 0.5s;
    }

    // Adds the fake border to active state items
    &[data-state='active'],
    &[aria-current='page'] {
      background-size: 100% 4px;
    }

  }

  a:hover {
    background-size: 100% 4px;
  }
}
