.page-content {
  @include apply-utility('leading', 'loose');

  > * {
    @include apply-utility('measure', 'huge');
  }

  blockquote {
    border-inline-start: 1rem solid get-color('quinary');
    padding-inline-start: get-size('600');
    padding-top: get-size('500');
    padding-bottom: get-size('500');
    font-style: italic;
  }

  h2 {
    font-size: get-size('600');
  }

  h3 {
    font-size: get-size('500');
  }

  ol,
  ul {
    padding-inline-start: get-size('800');
  }

  h1 + ol,
  h2 + ol,
  h3 + ol,
  h1 + ul,
  h2 + ul,
  h3 + ul {
    padding-inline-start: get-size('500');
  }

  li + li {
    margin-top: get-size('300');
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h1,
  h2,
  h3 {
    --flow-space: #{get-size('800')};
  }

  // Add tighter flow for elements that follow a heading
  h1 + *,
  h2 + *,
  h3 + * {
    --flow-space: #{get-size('300')};
  }

  h1 + h2,
  h2 + h3 {
    --flow-space: #{get-size('500')};
  }

  img,
  video {
    max-height: 20rem;
    margin-top: get-size('500');
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  figure > img{
    margin-top: 0;
    border-radius: 0.25rem;
  }

  figcaption {
    font-size: get-size('400');
    font-style: italic;
    text-align: center;
    display: block;
    margin-top: -2rem;
    background-color: get-color('dark');
    color: get-color('light');
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0.25rem;
  }

  .multi-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: get-size('500');
    margin-bottom: get-size('700');
    flex-direction: column;

    img {
      max-height: 20rem;
    }

    * + img,
    * + figure {
      margin-top: get-size('300');
    }

    @include media-query('md') {
      flex-direction: row;
      * + img,
      * + figure {
        margin-left: get-size('300');
        margin-top: 0;
      }
    }
  }

  table {
    border-collapse: collapse;
    max-width: 50rem;

    thead tr {
      color: get-color('light');
      background-color: get-color('dark-shade');
      text-align: left;
    }

    th, td {
      padding: 1rem 0.5rem;
    }
    @include media-query('md') {
      th, td {
        padding: 1rem 2rem;
      }
    }

    tbody tr {
      border-bottom: thin solid get-color('dark-shade');
    }

    tbody tr:last-of-type {
      font-weight: bold;
      border-bottom: medium solid get-color('dark-shade');
    }

    tbody tr:nth-of-type(even) {
      background-color: get-color('light-shade');
    }
  }

}
