.sprint-nav {
  display: flex;
  flex-direction: column;

  ::selection {
    background: rgba(get-color('light'), 0.99);
    color: get-color('dark-shade');
  }

  img {
    object-fit: cover;
    width: 40rem;
    height: 30rem;
  }

  a {
    display: inline-block;
  }

  &__continue {
  }

  @include media-query('md') {
    &__item, &__media {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-query('lg') {
    img {
      width: 50rem;
    }

    &__content {
      margin: auto;
      margin-inline-start: get-size('900');
    }

    &__item {
      display: flex;
      align-items: flex-end;
    }
  }
}
