{% if pageHeaderCondence %}
<article class="[ page-header-condensed ] [ panel ]">
{% else %}
<article class="[ page-header ] [ panel ]">
{% endif %}
  <div class="[ wrapper ] [ flow flow-space-700 ]">
    <h1 class="[ page-header__heading ] [ headline ] [ weight-normal ]" data-highlight="dark">
      {{ pageHeaderTitle }}
    </h1>
    {% if pageHeaderSummary %}
    <div class="[ page-header__summary ] [ leading-loose measure-medium text-600 ]">
      {{ pageHeaderSummary | safe }}
    </div>
    {% endif %}
  </div>
</article>
