<div class='[ panel ] [ dot-shadow ][ bg-dark-shade color-light ]'>
  <div class='[ wrapper ]'>
    <article class='[ sprint-nav ] [ flow flow-space-900 ]'>
      {% for item in sprintNavLinks %}
        <figure class='[ sprint-nav__item ] [ flow ]'>
          <div class='[ sprint-nav__media ] [ frame ]' data-frame="quinary">
            <a href='{{ item.url | url}}'>
              <img
                src='{{ item.data.hero | url}}'
                alt='{{ item.data.heroAlt }}'
                class='[ radius ]'
              />
            </a>
          </div>
          <figcaption class='[ sprint-nav__content ] [ flow flow-space-300 ]'>
            <h2 class='[ sprint-nav__title ] [ text-700 md:text-900 ]'>
              {{ item.data.title }}
            </h2>
            <!-- {% if item.data.dateStart  %} -->
            <!-- <span class="[ sprint-nav__date ]"> -->
            <!--   <time datetime="{{ item.data.dateStart | w3DateFilter }}">{{ date | dateFilter }}</time> -->
            <!--   - -->
            <!--   <time datetime="{{ item.data.dateEnd | w3DateFilter }}">{{ date | dateFilter }}</time> -->
            <!-- </span> -->
            <!-- {% endif %} -->
            <p class="[ sprint-nav__summary ] [ measure-medium ]">
              {{ item.data.summary | truncate(95) }}
            </p>
            <a href="{{ item.url | url }}">Continue Reading</a>
          </figcaption>
        </figure>
      {% endfor %}
    </article>
  </div>
</div>
